@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Category

<script src="https://kit.fontawesome.com/a775ea28da.js" crossorigin="anonymous"></script>

<style>
    .body-container {
        display: flex;
    }

    .side-bar {
        width: 20%;
        margin: 0 20px 0 10px;
    }

    .fa-chart-line {
        margin-right: 10px;
    }

    .fa-book {
        margin-right: 10px;
    }

    .fa-list {
        margin-right: 10px;
    }

    .fa-clipboard-user {
        margin-right: 10px;
    }

    .display-container {
        width: 80%;
    }

    .btn-wrapper {
        margin: 10px 0 10px 0;
    }

    #book-management {
        color: black;
        text-decoration: none;
    }

    #category-request {
        color: black;
        text-decoration: none;
    }

    #record-management {
        color: black;
        text-decoration: none;
    }
</style>

<div class="body-container">
    <div class="side-bar">
        <ul class="list-group">
            <li class="list-group-item"><i class="fa-solid fa-book"></i><a id="book-management" asp-controller="Books" asp-action="Index">Book Management</a></li>
            <li class="list-group-item"><i class="fa-solid fa-list"></i><a id="category-request" asp-controller="Categories" asp-action="Index">Category Request</a></li>
            <li class="list-group-item"><i class="fa-solid fa-clipboard-user"></i><a id="record-management" asp-controller="Records" asp-action="Index">Record Management</a></li>
        </ul>
    </div>

    <div class="display-container">
        <form enctype="multipart/form-data" asp-controller="Categories" asp-action="Create" method="post">
            <div class="form-group">
                <label>Name of Category</label>
                <input asp-for="NameCategory" class="form-control" placeholder="Name of Category" />
                <span asp-validation-for="NameCategory" class="text-danger"></span>
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>