@using ASM_App_Dev.Utils
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <h3>Are You A New User</h3>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-danger">Register your account</a>
    }
    else
    {
        if (User.IsInRole(Role.STORE_OWNER))
        {
            <a asp-controller="Books" asp-action="Index" class="btn btn-primary">Management Your Book Store</a>
        }
        if (User.IsInRole(Role.CUSTOMER))
        {
            <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Go To Shopping</a>

        }
        if (User.IsInRole(Role.ADMIN))
        {
            <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Go To Manager</a>

        }
    }
</div>