
@using ASM_App_Dev.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FPT Books</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FPT Books</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                         @if(User.IsInRole(Role.STORE_OWNER)){
                        <li class="nav-item">
                        </li>
                         }
                        @if(User.IsInRole(Role.CUSTOMER)){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="OrderDetails" asp-action="Index">Cart</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Views" asp-controller="Customer" asp-action="Help">Help</a>
                        </li>
                            <li>
            <form asp-action="Index" asp-controller="Customer" method="get">
            <input type="text" name="nameOrCategoryBook" placeholder="Search by Name Or Category" />
            <button type="submit" class="btn btn-primary">Search</button>
            </form>
    </li>
                        }
                          @if(User.IsInRole(Role.STORE_OWNER)){
                        <li class="nav-item">
                        </li>
                         }
                        @if(User.IsInRole(Role.ADMIN)){
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ASM_App_Dev - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
