@using ASM_App_Dev.Utils
@using ASM_App_Dev.ViewModels
@using Microsoft.AspNetCore.Identity

@model ApplicationUser

<h1>Change Password</h1>
@if (@Model.EmailConfirmed == false)
{
    <div class="alert alert-danger" role="alert">
        <strong>@TempData["Message"]</strong>
    </div>

    <a asp-action="Index" asp-controller="Admin" class="btn btn-outline-dark">Back to Admin page</a>
}
else
{
    <form enctype="multipart/form-data" asp-controller="Admin" asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label>New Password</label>
            <input asp-for="PasswordHash" value="" class="form-control" placeholder="Input new password..." />
            <span asp-validation-for="@Model.PasswordHash" class="text-danger"></span>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

        <div class="btn-wrapper">
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </form>
}



